<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from hencework.com/theme/kenny/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Feb 2018 07:03:37 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <meta name="author" content="hencework" />
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--Css-->
    <link href="~/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">
    <link href="~/dist/css/style.css" rel="stylesheet" type="text/css">
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="wrapper">
        <!-- Top Menu Items -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block mr-20 pull-left" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <div class="collapse navbar-search-overlap" id="site_navbar_search">
                <form role="search">
                    <div class="form-group mb-0">
                        <div class="input-search">
                            <div class="input-group">
                                <input type="text" id="overlay_search" name="overlay-search" class="form-control pl-30" placeholder="Search">
                                <span class="input-group-addon pr-30">
                                    <a href="javascript:void(0)" class="close-input-overlay" data-target="#site_navbar_search" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="fa fa-times"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <!-- /Top Menu Items -->
        
        <!-- Left Sidebar Menu -->
        <div class="fixed-sidebar-left">
            <ul class="nav navbar-nav side-nav nicescroll-bar">
                <li>
                    <a href="/"><i class="icon-layers mr-10"></i>Content</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#ecom_dr"><i class="icon-list mr-10"></i>Category<span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="ecom_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="/category/create">Create</a>
                        </li>
                        <li>
                            <a href="/category/list">List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#debateads_dr"><i class="icon-list mr-10"></i>Debate<span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="debateads_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="/debate/create">Create</a>
                        </li>
                        <li>
                            <a href="/debate/list">List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#debate_dr"><i class="icon-list mr-10"></i>Debate Advertisement<span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="debate_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="/debateadvertisement/index">Create</a>
                        </li>
                        <li>
                            <a href="/debateadvertisement/list">List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#query_dr"><i class="icon-list mr-10"></i>Queries<span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="query_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="/query/advertise">Advertise</a>
                        </li>
                        <li>
                            <a href="/query/contactus">Contact</a>
                        </li>
                        <li>
                            <a href="/query/topicandidea">Topic & Idea</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#advertisement_dr"><i class="icon-list mr-10"></i>Advertisement<span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="advertisement_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="/advertisement/index">Index</a>
                        </li>
                        <li>
                            <a href="/advertisement/list">List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#user_dr"><i class="icon-list mr-10"></i>User<span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="user_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="/user/list">List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#contest_dr"><i class="icon-list mr-10"></i>Contest<span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="contest_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="/contest/create">Create</a>
                        </li>
                        <li>
                            <a href="/contest/list">List</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /Left Sidebar Menu -->

        <!-- Main Content -->
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- Footer -->
            <footer class="footer container-fluid pl-30 pr-30">
                <div class="row">
                    <div class="col-sm-5">
                        <a href="index.html" class="brand mr-30">Hang-Out</a>
                    </div>
                    <div class="col-sm-7 text-right">
                        <p class="grey"> &copy;Copyright 2019 - www.hang-out.in -  All rights reserved.</p>
                    </div>
                </div>
            </footer>
            <!-- /Footer -->

        </div>
        <!-- /Main Content -->
    </div>
    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="~/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Data table JavaScript -->
    <script src="~/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="~/dist/js/jquery.slimscroll.js"></script>

    <!-- simpleWeather JavaScript -->
    <script src="~/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
    <script src="~/dist/js/simpleweather-data.js"></script>

    <!-- Progressbar Animation JavaScript -->
    <script src="~/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/vendors/bower_components/Counter-Up/jquery.counterup.min.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Sparkline JavaScript -->
    <script src="~/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>

    <!-- ChartJS JavaScript -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/vendors/bower_components/raphael/raphael.min.js"></script>
    <script src="~/vendors/bower_components/morris.js/morris.min.js"></script>
    <script src="~/dist/js/morris-data.js"></script>
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <!-- Init JavaScript -->
    <script src="~/dist/js/init.js"></script>
    <script src="~/dist/js/dashboard-data.js"></script>
    @RenderSection("scripts", required: false)
</body>
<!-- Mirrored from hencework.com/theme/kenny/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Feb 2018 07:03:37 GMT -->
</html>
