
<header id="site_header " class="top-container">
    <!-- End topbar -->
    <div id="navigation_bar">
        <div class="content">
            <div id="logo">
                <a href="index.php">
                    <img class="logo_dark" src="~/CDN/UI/Images/hang-out.png" alt="Enar Logo">
                    <img class="logo_light" src="~/CDN/UI/Images/hang-out.png" alt="Enar Logo">
                </a>
            </div>

            <nav id="main_nav" style="float:right">
                <div id="nav_menu">
                    <span class="mobile_menu_trigger">
                        <a href="#" class="nav_trigger"><span></span></a>
                    </span>
                    <ul id="navy" class="clearfix">
                        <li class="normal_menu mobile_menu_toggle current_page_item">
                            <a href="/content/about"><span>About Us</span></a>
                        </li>
                        <li class="normal_menu mobile_menu_toggle current_page_item">
                            <a href="/debate/category"><span>Debate Room</span></a>
                        </li>
                        <li class="normal_menu mobile_menu_toggle current_page_item">
                            <a href="/content/termsandconditions"><span>Terms & Conditions</span></a>
                        </li>
                        <li class="normal_menu mobile_menu_toggle current_page_item">
                            <a href="/query/advertise"><span>Advertise With Us</span></a>
                        </li>
                        <li class="normal_menu mobile_menu_toggle current_page_item">
                            <a href=""><span>Rewards</span></a>
                            <ul style="display: none;">
                                <li class="normal_menu menu_height"> <a href="/content/Topic">Debate Topic(s)</a></li>
                                <li class="normal_menu menu_height"><a href="/content/Winner">Debate Winner(s)</a></li>
                                <li class="normal_menu menu_height"><a href="/content/Member">Add Member(s)</a></li>
                                <li class="normal_menu menu_height"><a href="/content/Idea">Innovative Idea(s)</a></li>
                                <li class="normal_menu menu_height"><a href="/content/Advertisement">Advertisement(s)</a></li>
                            </ul>
                        </li>
                        <li class="normal_menu mobile_menu_toggle current_page_item">
                            <a href="/query/contactus"><span>Contact Us</span></a>
                        </li>
                        <li class="normal_menu mobile_menu_toggle current_page_item">
                            <a href="/query/profile"><span>Profile</span></a>
                        </li>
                        <li class="normal_menu mobile_menu_toggle current_page_item">
                            <a href="/payment/index"><span>Pay</span></a>
                        </li>
                        <li class="normal_menu mobile_menu_toggle current_page_item">
                            <a href="/account/logout"><span>Logout</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="clear"></div>
        </div>
    </div>
</header>
<style>
    .menu_height{
        height:35px;
    }
</style>